<!-- HEADER -->
<div id="header_wrap" class="outer">
		<header class="inner">

			<h1 id="project_title">{{ site.theme.title }}</h1>
			<h2 id="project_tagline">Un espacio para programadores puertorriqueños que desean hacer networking.</h2>

		</header>
</div>
<nav class="site-nav">
	<ul class="nav nav-pills nav-justified">
		{% for page in site.pages %}
		{% if page.title and page.hide != true %}
		<li>
			<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
				{{ page.title }}
			</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</nav>