<!-- HEADER -->
<div id="header_wrap" class="outer">
		<header class="inner">

			<h1 id="project_title">{{ site.theme.title }}</h1>
			<h2 id="project_tagline">{{ site.theme.description }}</h2>

		</header>
</div>
<nav class="site-nav">
    {% assign pages = site.pages | sort:"weight"  %}
	<ul class="nav nav-pills nav-justified">
		{% for p in pages %}
		{% if p.title and p.hide != true %}
		<li>
			<a class="page-link" href="{{ p.url | prepend: site.baseurl }}">
				{{ p.title }}
			</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
</nav>